{{#expect nonce, scriptNonce, scriptIntegrity, crossOriginScriptUrl, requireCors}}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Test first-party site</title>
		<link href="/spectre.css" rel="stylesheet" nonce="{{nonce}}" />
		<style nonce="{{nonce}}">
			body {
				max-width: 768px;
				margin: 0 auto;
				padding: 1rem;
			}

			.scenario-category-title {
				display: inline-block;
			}
		</style>
	</head>
	<body>
		<h1>Test first-party site</h1>

		<p id="local-script-result">
			🔃 Loading local script... (if script fails to load, this will never
			update). Open DevTools to investigate.
		</p>
		<p id="cross-origin-result">
			🔃 Loading cross-origin script... (if script fails to load, this will
			never update). Open DevTools to investigate.
		</p>

		<hr />

		<h2>Current Scenario</h2>
		<div id="current-scenario"></div>

		<hr />

		<details>
			<summary>
				<h2 class="scenario-category-title">Success scenarios</h2>
			</summary>

			<div class="scenario">
				<h3 class="scenario-title">Success with COEP & CORP</h3>
				<p><a href="/" class="demo-link">Demo</a></p>
				<p>Expect: All scripts load</p>
				<p>
					All security validations passed! CSP policies (i.e. nonce) passes and
					Cross-Origin-Embedder-Policy (which requires all resources loaded with
					CORS (has <code>cross-origin</code> attribute and CORS header) or for
					resource to have a CORP) passed). Settings applied:
				</p>
				<ul>
					<li>Integrity checks passed</li>
					<li>CSP nonce checks passed</li>
					<li>Cross-origin script returns CORP header to pass COEP policy</li>
				</ul>
				<blockquote>
					Note: If using <code>type=module</code> scripts,
					<code>cross-origin=anonymous</code> is implied and CORS headers are
					required for 3rd party scripts
				</blockquote>
			</div>

			<div class="scenario">
				<h3 class="scenario-title">Success with COEP & CORS</h3>
				<p>
					<a href="/?require-cors=1&use-cors=1&no-corp=1" class="demo-link"
						>Demo</a
					>
				</p>
				<p>Expect: All scripts load</p>
				<p>
					All security validations passed! CSP policies (i.e. nonce) passes and
					Cross-Origin-Embedder-Policy (which requires all resources loaded with
					CORS (has <code>cross-origin</code> attribute and CORS header) or for
					resource to have a CORP) passed). Settings applied:
				</p>
				<ul>
					<li>Integrity checks passed</li>
					<li>CSP nonce checks passed</li>
					<li>Cross-origin script returns CORS header to pass COEP policy</li>
				</ul>
				<blockquote>
					Note: If using <code>type=module</code> scripts,
					<code>cross-origin=anonymous</code> is implied and CORS headers are
					required for 3rd party scripts
				</blockquote>
			</div>
		</details>

		<details>
			<summary>
				<h2 class="scenario-category-title">Fail CSP scenarios</h2>
			</summary>

			<div class="scenario">
				<h3 class="scenario-title">Fail CSP nonce check</h3>
				<p><a href="/?fail-nonce=1" class="demo-link">Demo</a></p>
				<p>Expect: All scripts fail</p>
				<p>
					Fail to load the script because the nonce attribute doesn't match.
				</p>
			</div>

			<div class="scenario">
				<h3 class="scenario-title">Fail sub-resource integrity check</h3>
				<p><a href="/?fail-integrity=1" class="demo-link">Demo</a></p>
				<p>Expect: Local script fails</p>
				<p>
					Fail to load the script because the integrity attribute doesn't match.
				</p>
			</div>
		</details>

		<details>
			<summary>
				<h2 class="scenario-category-title">Fail COEP scenarios</h2>
			</summary>

			<div class="scenario">
				<h3 class="scenario-title">No CORP header</h3>
				<p><a href="/?no-corp=1" class="demo-link">Demo</a></p>
				<p>Expect: cross origin script fails</p>
				<p>
					Load the cross-origin script without a CORP header so it fails the
					COEP policy
				</p>
			</div>

			<div class="scenario">
				<h3 class="scenario-title">
					No CORS header but with <code>cross-origin</code> attribute
				</h3>
				<p><a href="/?require-cors=1" class="demo-link">Demo</a></p>
				<p>Expect: cross origin script fails</p>
				<p>
					Load the cross-origin script without a CORS header even though CORS is
					required
				</p>
			</div>

			<div class="scenario">
				<h3 class="scenario-title">
					No <code>cross-origin</code> attribute and only return CORS header
				</h3>
				<p><a href="/?use-cors=1&no-corp=1" class="demo-link">Demo</a></p>
				<p>Expect: cross origin script fails</p>
				<p>
					Load the cross-origin script without a
					<code>cross-origin</code> attribute but it only returns a CORS header
					with no CORP header. CORS header alone does not satisfy COEP.
					<code>cross-origin</code> attribute is also required.
				</p>
			</div>
		</details>

		<script nonce="{{nonce}}">
			let observer = new ReportingObserver((reports) => {
				for (let report of reports) {
					console.log(JSON.stringify(report, null, 2));
				}
			});

			observer.observe();
			window.addEventListener("load", () => observer.takeRecords());
		</script>

		<script
			src="/local-script.js"
			nonce="{{scriptNonce}}"
			integrity="{{scriptIntegrity}}"
		></script>

		{{#if requireCors}}
		<script
			src="{{crossOriginScriptUrl}}"
			nonce="{{scriptNonce}}"
			crossorigin="anonymous"
		></script>
		{{#else}}
		<script src="{{crossOriginScriptUrl}}" nonce="{{nonce}}"></script>
		{{/if}}

		<script nonce="{{nonce}}">
			const currentScenarioId = location.pathname + location.search;
			const scenarios = document.getElementsByClassName("scenario");
			for (let scenario of scenarios) {
				const demoHref = scenario.querySelector(".demo-link")?.href;
				if (!demoHref) {
					continue;
				}

				const demoUrl = new URL(demoHref);
				const demoId = demoUrl.pathname + demoUrl.search;
				if (demoId == currentScenarioId) {
					scenario.querySelector(".scenario-title").textContent += " (current)";
					document.getElementById("current-scenario").appendChild(scenario);
					break;
				}
			}
		</script>
	</body>
</html>
