{{#expect nonce, scriptNonce, scriptIntegrity, crossOriginScriptUrl,
requireCors, crossOriginPopupUrl, crossOriginPage}}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Test first-party site</title>
		<link href="/spectre.min.css" rel="stylesheet" nonce="{{nonce}}" />
		<link href="/styles.css" rel="stylesheet" nonce="{{nonce}}" />
	</head>
	<body>
		<h1>Test first-party site</h1>

		<p>
			<a href="https://first-party-test.glitch.me/"
				>Another great test site for these headers</a
			>
		</p>

		<p id="local-script-result">
			🔃 Loading local script... (if script fails to load, this will never
			update). Open DevTools to investigate.
		</p>
		<p id="cross-origin-result">
			🔃 Loading cross-origin script... (if script fails to load, this will
			never update). Open DevTools to investigate.
		</p>

		<p>
			Cross-origin isolated enabled:
			<span id="cross-origin-isolation-label">loading...</span>
		</p>

		<p class="popup-btns btn-group">
			<button id="same-origin-open" class="btn btn-primary" type="button">
				Open same-origin popup
			</button>
			<button id="same-origin-message" class="btn" type="button" hidden>
				Post message
			</button>
		</p>
		<p class="popup-btns btn-group">
			<button id="cross-origin-open" class="btn btn-primary" type="button">
				Open cross-origin popup
			</button>
			<button id="cross-origin-message" class="btn" type="button" hidden>
				Post message
			</button>
		</p>
		<!-- COOP example using named targets -->
		<!-- <p>
			<a class="btn" href="{{crossOriginPage}}" target="Named target"
				>Navigate to cross-origin page</a
			>
		</p> -->

		<hr />

		<h2>Current Scenario</h2>
		<div id="current-scenario"></div>

		<hr />

		<details>
			<summary>
				<h2 class="scenario-category-title">Success scenarios</h2>
			</summary>

			<div class="scenario">
				<h3 class="scenario-title">Success with COEP & CORP</h3>
				<p><a href="/" class="demo-link">Demo</a></p>
				<p>Expect: All scripts load</p>
				<p>
					All security validations passed! CSP policies (i.e. nonce) passes and
					Cross-Origin-Embedder-Policy (which requires all resources loaded with
					CORS (has <code>cross-origin</code> attribute and CORS header) or for
					resource to have a CORP) passed). Settings applied:
				</p>
				<ul>
					<li>Integrity checks passed</li>
					<li>CSP nonce checks passed</li>
					<li>Cross-origin script returns CORP header to pass COEP policy</li>
				</ul>
				<blockquote>
					Note: If using <code>type=module</code> scripts,
					<code>cross-origin=anonymous</code> is implied and CORS headers are
					required for 3rd party scripts
				</blockquote>
			</div>

			<div class="scenario">
				<h3 class="scenario-title">Success with COEP & CORS</h3>
				<p>
					<a href="/?require-cors=1&use-cors=1&no-corp=1" class="demo-link"
						>Demo</a
					>
				</p>
				<p>Expect: All scripts load</p>
				<p>
					All security validations passed! CSP policies (i.e. nonce) passes and
					Cross-Origin-Embedder-Policy (which requires all resources loaded with
					CORS (has <code>cross-origin</code> attribute and CORS header) or for
					resource to have a CORP) passed). Settings applied:
				</p>
				<ul>
					<li>Integrity checks passed</li>
					<li>CSP nonce checks passed</li>
					<li>Cross-origin script returns CORS header to pass COEP policy</li>
				</ul>
				<blockquote>
					Note: If using <code>type=module</code> scripts,
					<code>cross-origin=anonymous</code> is implied and CORS headers are
					required for 3rd party scripts
				</blockquote>
			</div>

			<div class="scenario">
				<h3 class="scenario-title">Opening a same-origin popup</h3>
				<p>Click the "Open same-origin popup" button above</p>
				<p>
					Expect: same origin popup does receive any messages from this window
				</p>
			</div>
		</details>

		<details>
			<summary>
				<h2 class="scenario-category-title">Scenarios CSP blocks loading</h2>
			</summary>

			<div class="scenario">
				<h3 class="scenario-title">Fail CSP nonce check</h3>
				<p><a href="/?fail-nonce=1" class="demo-link">Demo</a></p>
				<p>Expect: All scripts fail</p>
				<p>
					Fail to load the script because the nonce attribute doesn't match.
				</p>
			</div>

			<div class="scenario">
				<h3 class="scenario-title">Fail sub-resource integrity check</h3>
				<p><a href="/?fail-integrity=1" class="demo-link">Demo</a></p>
				<p>Expect: Local script fails</p>
				<p>
					Fail to load the script because the integrity attribute doesn't match.
				</p>
			</div>
		</details>

		<details>
			<summary>
				<h2 class="scenario-category-title">
					Scenarios when COEP blocks loading
				</h2>
			</summary>

			<div class="scenario">
				<h3 class="scenario-title">No CORP header</h3>
				<p><a href="/?no-corp=1" class="demo-link">Demo</a></p>
				<p>Expect: cross origin script fails</p>
				<p>
					Load the cross-origin script without a CORP header so it fails the
					COEP policy
				</p>
			</div>

			<div class="scenario">
				<h3 class="scenario-title">
					No CORS header but with <code>cross-origin</code> attribute
				</h3>
				<p><a href="/?require-cors=1" class="demo-link">Demo</a></p>
				<p>Expect: cross origin script fails</p>
				<p>
					Load the cross-origin script without a CORS header even though CORS is
					required
				</p>
			</div>

			<div class="scenario">
				<h3 class="scenario-title">
					No <code>cross-origin</code> attribute and only return CORS header
				</h3>
				<p><a href="/?use-cors=1&no-corp=1" class="demo-link">Demo</a></p>
				<p>Expect: cross origin script fails</p>
				<p>
					Load the cross-origin script without a
					<code>cross-origin</code> attribute but it only returns a CORS header
					with no CORP header. CORS header alone does not satisfy COEP.
					<code>cross-origin</code> attribute is also required.
				</p>
			</div>
		</details>

		<details>
			<summary>
				<h2 class="scenario-category-title">Scenarios COOP blocks</h2>
			</summary>

			<p>
				Many of these scenarios are demonstrated using popups, but there are
				other instances (e.g. links with named <code>target</code> attributes)
				COOP may block
			</p>

			<div class="scenario">
				<h3 class="scenario-title">
					Posting message from a COOP page to a cross-origin popup
				</h3>
				<p>Click the "Open cross-origin popup" button above</p>
				<p>
					Expect: cross origin popup does not receive any messages from this
					window
				</p>
				<p>
					This scenario sends a <code>navigation-from-response</code> report
					type
				</p>
			</div>

			<div class="scenario">
				<h3 class="scenario-title">
					Posting a message from a page to COOP cross-origin popup
				</h3>
				<p>
					Click the "Open cross-origin popup" button above. Then inside the
					popup
				</p>
				<p>
					Expect: cross origin popup does not receive any messages from this
					window
				</p>
				<p>
					This scenario sends a <code>navigation-to-response</code> report type
				</p>
			</div>

			<!-- cross-origin accessible properties: https://html.spec.whatwg.org/multipage/browsers.html#cross-origin-accessible-window-property-name -->
		</details>

		<hr />

		<details>
			<summary><h2 class="scenario-category-title">Sample reports</h2></summary>

			<h3>CSP violation report</h3>
			<pre class="code" data-lang="json"><code>[
	{
		"type": "csp-violation",
		"url": "https://first-party-test.localhost:8080/",
		"user_agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/98.0.4758.102 Safari/537.36"
		"age": 0,
		"body": {
			"blockedURL": "https://first-party-test.localhost:8080/spectre.css",
			"disposition": "enforce",
			"documentURL": "https://first-party-test.localhost:8080/",
			"effectiveDirective": "style-src-elem",
			"originalPolicy": "script-src 'nonce-0c3c7b93-8d88-42e0-b9c1-bc2e63aa0dfd' 'strict-dynamic' https: 'unsafe-inline'; style-src 'nonce-0c3c7b93-8d88-42e0-b9c1-bc2e63aa0dfd'; object-src 'none'; base-uri 'none'; frame-ancestors 'none'; require-trusted-types-for 'script'; block-all-mixed-content; upgrade-insecure-requests; report-uri https://first-party-test.localhost:8080/report-to; report-to default;",
			"referrer": "",
			"sample": "",
			"statusCode": 200
		},
	}
]</code></pre>

			<h3>COEP violation report</h3>
			<pre class="code" data-lang="json"><code>[
	{
		"type": "coep",
		"url": "https://first-party-test.localhost:8080/?no-corp=1",
		"user_agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/98.0.4758.102 Safari/537.36"
		"age": 0,
		"body": {
			"blockedURL": "https://third-party-test.localhost:8081/cross-origin.js?no-corp=1",
			"destination": "script",
			"disposition": "enforce",
			"type": "corp"
		},
	}
]</code></pre>

			<h3>COOP <code>navigation-from-response</code> violation report</h3>
			<pre class="code" data-lang="json"><code>[
	{
		"type": "coop",
		"url": "https://first-party-test.localhost:8080/",
		"user_agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/98.0.4758.102 Safari/537.36"
		"age": 16,
		"body": {
			"disposition": "enforce",
			"effectivePolicy": "same-origin-plus-coep",
			"nextResponseURL": "https://third-party-test.localhost:8081/popup",
			"type": "navigation-from-response"
		},
	}
]</code></pre>

			<h3>COOP <code>navigation-to-response</code> violation report</h3>
			<pre class="code" data-lang="json"><code>[
	{
		"type": "coop",
		"url": "https://first-party-test.localhost:8080/",
		"user_agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/98.0.4758.102 Safari/537.36"
    "age": 12,
    "body": {
      "disposition": "enforce",
      "effectivePolicy": "same-origin-plus-coep",
      "previousResponseURL": "",
      "referrer": "https://third-party-test.localhost:8081/",
      "type": "navigation-to-response"
    },
  }
]</code></pre>
		</details>

		<script nonce="{{nonce}}">
			let observer = new ReportingObserver((reports) => {
				for (let report of reports) {
					console.log(JSON.stringify(report, null, 2));
				}
			});

			observer.observe();
			window.addEventListener("load", () => observer.takeRecords());
		</script>

		<script
			src="/local-script.js"
			nonce="{{scriptNonce}}"
			integrity="{{scriptIntegrity}}"
		></script>

		{{#if requireCors}}
		<script
			src="{{crossOriginScriptUrl}}"
			nonce="{{scriptNonce}}"
			crossorigin="anonymous"
		></script>
		{{#else}}
		<script src="{{crossOriginScriptUrl}}" nonce="{{nonce}}"></script>
		{{/if}}

		<script nonce="{{nonce}}">
			document.getElementById("cross-origin-isolation-label").textContent =
				window.crossOriginIsolated?.toString() ?? "not supported";

			if (window.crossOriginIsolated) {
				document.body.classList.add("cross-origin-isolated");
			}

			const currentScenarioId = location.pathname + location.search;
			const scenarios = document.getElementsByClassName("scenario");
			for (let scenario of scenarios) {
				const demoHref = scenario.querySelector(".demo-link")?.href;
				if (!demoHref) {
					continue;
				}

				const demoUrl = new URL(demoHref);
				const demoId = demoUrl.pathname + demoUrl.search;
				if (demoId == currentScenarioId) {
					scenario.querySelector(".scenario-title").textContent += " (current)";
					document.getElementById("current-scenario").appendChild(scenario);
					break;
				}
			}

			/**
			 * @param {string} popupUrl
			 * @param {HTMLElement} openBtn
			 * @param {HTMLElement} messageBtn
			 */
			function setupPopupButtons(popupUrl, popupTitle, openBtn, messageBtn) {
				/** @type {Window} */
				let popup;

				openBtn.addEventListener("click", () => {
					if (popup?.closed ?? true) {
						popup = window.open(popupUrl, popupTitle, "width=420, height=420");
						messageBtn.removeAttribute("hidden");
					} else {
						popup.focus();
					}
				});

				messageBtn.setAttribute("hidden", "");
				messageBtn.addEventListener("click", () => {
					popup.postMessage("A new message!");
				});
			}

			setupPopupButtons(
				location.origin + "/popup",
				"Same-origin popup",
				document.getElementById("same-origin-open"),
				document.getElementById("same-origin-message")
			);

			setupPopupButtons(
				"{{crossOriginPopupUrl}}",
				"Cross-origin popup",
				document.getElementById("cross-origin-open"),
				document.getElementById("cross-origin-message")
			);
		</script>
	</body>
</html>
