{{#expect nonce, scriptIntegrity}}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Website 1</title>
	</head>
	<body>
		<h1>Website 1</h1>
		<p>Scenarios to try:</p>

		<h2>Success!</h2>
		<p><a href="/">Demo</a></p>
		<p>All security validations passed!</p>

		<h2>Fail CSP nonce check</h2>
		<p><a href="/?fail-nonce=1">Demo</a></p>
		<p>Fail to load the script because the nonce attribute doesn't match.</p>

		<h2>Fail sub-resource integrity check</h2>
		<p><a href="/?fail-integrity=1">Demo</a></p>
		<p>
			Fail to load the script because the integrity attribute doesn't match.
		</p>

		<script
			type="module"
			src="/script.js"
			nonce="{{nonce}}"
			integrity="{{scriptIntegrity}}"
		></script>
	</body>
</html>
